*.mwb.bak
*.pyc

.DS_Store
.idea
.tox
.env

SECRET_KEY

# Third party packages
bower_components
node_modules
requirements/src

# dev files
frontend/build/*
frontend/dist/*
!frontend/dist/production
venv/

log/*

# Media files
assets/
media/

data/
data_imports/
import_errors/
