{% extends 'base_unauthorised.html' %}

{% block body %}

  <header class="banner">
    <!-- start: Header -->
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>

          <a class="brand" href="{% url 'dashboard:course_list' %}"><span>Loop - Analytics for Learning Design </span></a>

          <!-- start: Header Menu -->
          <div class="nav-no-collapse header-nav">
            <ul class="nav">
              <!-- start: User Dropdown -->
              <li class="dropdown">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                  <i class="glyphicon glyphicon-user white"></i> {{ user.username }}
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li class="dropdown-menu-title">
                    <span>Account Settings</span>
                  </li>
                  <li><a href="{% url 'dashboard:logout' %}"><i class="glyphicon glyphicon-off"></i> Logout</a></li>
                </ul>
              </li>
              <!-- end: User Dropdown -->
            </ul>
          </div>
          <!-- end: Header Menu -->
        </div>
      </div>
    </div>
  </header>
  <!-- end: Header -->

  <main class="main">
    <div class="container-fluid">
    <div class="row main-row">
      <!-- start: Main Menu -->
      <div id="sidebar-left" class="col-sm-3 col-md-2 sidebar">
        {% if request.course_offering %}
          <div class="sidebar__bd">
            <ul class="nav nav-tabs nav-stacked main-menu">
              <li>
                <a href="{% url 'dashboard:course_dashboard' course_id=request.course_offering.id %}">
                  <i class="glyphicon glyphicon-stats"></i> Course Dashboard
                </a>
              </li>
              <li>
                <a href="#access-menu" data-toggle="collapse">
                  <i class="glyphicon glyphicon-list-alt"></i> Course Access
                </a>
                <ul class="collapse" id="access-menu">
                  <li>
                    <a class="submenu" href="{% url 'dashboard:course_content' course_id=request.course_offering.id %}">
                      Content
                    </a>
                  </li>
                  <li>
                    <a class="submenu" href="{% url 'dashboard:course_communications' course_id=request.course_offering.id %}">
                      Communication
                    </a>
                  </li>
                  <li>
                    <a class="submenu" href="{% url 'dashboard:course_assessments' course_id=request.course_offering.id %}">
                      Assessment
                    </a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="{% url 'dashboard:students' course_id=request.course_offering.id %}">
                  <i class="glyphicon glyphicon-user"></i> Students
                </a>
              </li>
              <li>
                <a href="#events-menu" data-toggle="collapse">
                  <i class="glyphicon glyphicon-pencil"></i> Course Events
                </a>
                <ul class="collapse" id="events-menu">
                  <li>
                    <a class="submenu" href="{% url 'dashboard:list_course_repeating_events' course_id=request.course_offering.id %}">
                      Repeating Events
                    </a>
                  </li>
                  <li>
                    <a class="submenu" href="{% url 'dashboard:list_course_submission_events' course_id=request.course_offering.id %}">
                      Submission Events
                    </a>
                  </li>
                  <li>
                    <a class="submenu" href="{% url 'dashboard:list_course_single_events' course_id=request.course_offering.id %}">
                      Single Events
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        {% endif %}
        </div>
      <!-- end: Main Menu -->

      <noscript>
        <div class="alert alert-block span10">
          <h4 class="alert-heading">Warning!</h4>
          <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
        </div>
      </noscript>

      <!-- start: Content -->
      <div id="content" class="col-sm-9 col-md-10">
        {% block breadcrumb %}
        <!--
          <ul class="breadcrumb">
            <li>
              <i class="icon-home"></i>
              <a href="{% url 'dashboard:course_list' %}">CLoop</a>
              <i class="icon-angle-right"></i>
            </li>
            <li>
              <a href="#">My Courses</a>
            </li>
          </ul>
          -->
        {% endblock %}

        {% block content %}

        {% endblock content %}
      </div><!--/#content.span10-->
      <!-- end: Content -->
    </div><!--/fluid-row-->
  </div><!--/.fluid-container-->
  </main>
  <footer class="content-info">
    <div class="container-fluid">
      <p>
        2016 Loop OLT Project - <a href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike</a>
      </p>
    </div>
  </footer>

{% endblock body %}
