{% extends 'base.html' %}

{% block page_id %}course-communication{% endblock page_id %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    {% include "dashboard/_course_offering_breadcrumbs.html" with course_offering=request.course_offering title="Communication" %}
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div id="communication" class="panel with-nav-tabs panel-default">
      <div class="panel-heading">
        <h1>Communication</h1>
        <ul class="nav nav-tabs">
          <li role="presentation" class="active navbar-right">
            <a href="#access" aria-controls="access" role="tab" data-toggle="tab">Accesses</a>
          </li>
          <li role="presentation" class=" navbar-right">
            <a href="#posts" aria-controls="posts" role="tab" data-toggle="tab">Posts</a>
          </li>
          <li role="presentation" class=" navbar-right">
            <a href="#unique-students" aria-controls="unique-students" role="tab" data-toggle="tab">Unique Students</a>
          </li>
          <li role="presentation" class=" navbar-right">
            <a href="#events" aria-controls="events" role="tab" data-toggle="tab">Events</a>
          </li>
        </ul>
      </div>
      <div class="panel-body" style="overflow: scroll;">
        <div class="tab-content">
          <div class="tab-pane fade in active" id="access">
            {% verbatim %}
              <table id="accessesTable" class="table table-striped table-bordered heat-map">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>View</th>

                    <th v-for="week in numWeeks">Week {{ week }}</th>

                    <th>Total</th>
                    <th>%<a href="#" data-rel="tooltip" data-original-title="Percentage in relation to total pageviews">
                      <i class="glyphicon glyphicon-info-sign"></i>
                    </a></th>
                  </tr>
                </thead>
                <tbody>
                <tr v-for="resource in accesses.pageSet" class="stats-row">
                  <td class="stats-title"><span>{{ resource.title }}</span></td>
                  <td class="stats-title">{{ resource.content_type }}</td>
                  <td class="stats-title"><a :href="`/${courseId}/course_page/${resource.id}/`" class="btn btn-small btn-primary">View</a></td>
                  <td v-for="week in numWeeks">{{ resource.weeks[week - 1] }}</td>
                  <td class="stats-title">{{ resource.total }}</td>
                  <td>{{ resource.percent }}</td>
                </tr>
                <tr class="stats-row">
                  <th>Totals</th>
                  <th colspan="2">&nbsp; </th>
                  <td v-for="week in numWeeks">{{ accesses.totalsByWeek[week - 1] }}</td>
                  <td>{{ accesses.totalsByWeek[numWeeks] }}</td>
                  <td>&nbsp;</td>
                </tr>
                </tbody>
              </table>
            {% endverbatim %}
          </div>
          <div class="tab-pane fade" id="posts">
            {% verbatim %}
              <table id="postsTable" class="table table-striped table-bordered heat-map">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>View</th>

                    <th v-for="week in numWeeks">Week {{ week }}</th>

                    <th>Total</th>
                    <th>%<a href="#" class="btn btn-mini" data-rel="tooltip" data-original-title="Percentage in relation to total pageviews"><i class="halflings-icon info-sign"></i></a></th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="resource in posts.pageSet" class="stats-row">
                    <td class="stats-title"><span>{{ resource.title }}</span></td>
                    <td class="stats-title">{{ resource.content_type }}</td>
                    <td class="stats-title"><a :href="`/${courseId}/course_page/${resource.id}/`" class="btn btn-small btn-primary">View</a></td>
                    <td v-for="week in numWeeks">{{ resource.weeks[week - 1] }}</td>
                    <td class="stats-title">{{ resource.total }}</td>
                    <td>{{ resource.percent }}</td>
                  </tr>
                  <tr class="stats-row">
                    <th>Totals</th>
                    <th colspan="2">&nbsp;</th>
                    <td v-for="week in numWeeks">{{ posts.totalsByWeek[week - 1] }}</td>
                    <td>{{ posts.totalsByWeek[numWeeks] }}</td>
                    <td>&nbsp;</td>
                  </tr>
                </tbody>
              </table>
            {% endverbatim %}
          </div>
          <div class="tab-pane fade" id="unique-students">
            {% verbatim %}
              <table id="studentsTable" class="table table-striped table-bordered heat-map">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>View</th>

                    <th v-for="week in numWeeks">Week {{ week }}</th>

                    <th>Total</th>
                    <th>%<a href="#" class="btn btn-mini" data-rel="tooltip" data-original-title="Percentage in relation to total pageviews"><i class="halflings-icon info-sign"></i></a></th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="resource in students.pageSet" class="stats-row">
                    <td class="stats-title"><span>{{ resource.title }}</span></td>
                    <td class="stats-title">{{ resource.content_type }}</td>
                    <td class="stats-title"><a :href="`/${courseId}/course_page/${resource.id}/`" class="btn btn-small btn-primary">View</a></td>
                    <td v-for="week in numWeeks">{{ resource.weeks[week - 1] }}</td>
                    <td class="stats-title">{{ resource.total }}</td>
                    <td>{{ resource.percent }}</td>
                  </tr>
                  <tr class="stats-row">
                    <th>Totals</th>
                    <th colspan="2">&nbsp;</th>
                    <td v-for="week in numWeeks">{{ students.totalsByWeek[week - 1] }}</td>
                    <td>{{ students.totalsByWeek[numWeeks] }}</td>
                    <td>&nbsp;</td>
                  </tr>
                </tbody>
              </table>
            {% endverbatim %}
          </div>
          <div class="tab-pane fade" id="events">
            {% if repeating_events %}
              <div class="row">
                <div class="col-md-2">
                  <div class="form-group">
                    <label class="sr-only" for="eventfilter">Select event</label>
                    <select class="form-control" id="eventfilter" name="eventfilter" v-model="eventId">
                      {% for event in repeating_events %}
                        <option value="{{ event.id}}" >{{ event.title}} ({{ event.get_day_of_week_display }})</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </div>
            {% else %}
              <p>
                To view the data on this tab, please <a href="{% url 'dashboard:add_course_repeating_event' course_id=request.course_offering.id %}">add at least one repeating event</a>.
              </p>
            {% endif %}
            {% verbatim %}
              <table id="eventsTable" class="table table-striped table-bordered heat-map">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>View</th>

                    <th v-for="week in numWeeks">Week {{ week }}</th>

                  </tr>
                </thead>
                <tbody>
                <tr v-for="resource in events" class="stats-row">
                  <td class="stats-title"><span>{{ resource.title }}</span></td>
                  <td class="stats-title">{{ resource.contentType }}</td>
                  <td class="stats-title"><a :href="`/${courseId}/course_page/${resource.id}/`" class="btn btn-small btn-primary">View</a></td>
                  <td v-for="week in numWeeks" :ref="`pie_${resource.id}`"></td>
                </tr>
                </tbody>
              </table>
            {% endverbatim %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block javascript %}
  <script>
    window.pages.communication.init(JSON.parse('{{ initial_data | escapejs }}'));
  </script>
{% endblock javascript %}
