{% extends 'base.html' %}

{% block page_id %}course-content-list{% endblock page_id %}

{% block content %}

  <div class="row">
    <div class="col-md-12">
      <ol class="breadcrumb">
        <li><a href="{% url 'dashboard:course_list' %}"><i class="glyphicon glyphicon-home glyphicon-fw"></i>My Courses</a></li>
        <li><a href="{% url 'dashboard:course_dashboard' course_id=request.course_offering.id %}">Course: {{ request.course_offering.code }} - {{ request.course_offering.title }}</a></li>
        <li class="active">Content</li>
      </ol>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel with-nav-tabs panel-default">
        <div class="panel-heading">
          <h1>Course Content</h1>
          <ul class="nav nav-tabs">
            <li role="presentation" class="active navbar-right">
              <a href="#pageviews" aria-controls="access" role="tab" data-toggle="tab">Pageviews</a>
            </li>
            <li role="presentation" class=" navbar-right">
              <a href="#unique-students" aria-controls="unique-students" role="tab" data-toggle="tab">Unique Students</a>
            </li>
            <li role="presentation" class=" navbar-right">
              <a href="#events" aria-controls="events" role="tab" data-toggle="tab">Events</a>
            </li>
          </ul>
        </div>
        <div class="panel-body" style="overflow: scroll;">
          <div class="tab-content">
            <div class="tab-pane fade in active" id="pageviews">
              {% verbatim %}
                <p>
                  <a href="#" @click.prevent="expandAll(pageViews.pageSet)">Expand All</a> |
                  <a href="#" @click.prevent="collapseAll(pageViews.pageSet)">Collapse All</a>
                </p>
                <table id="pageviewsTable" class="table table-striped table-bordered heat-map">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Type</th>
                      <th>View</th>

                      <th v-for="week in numWeeks">Week {{ week }}</th>

                      <th>Total</th>
                      <th>%<a href="#" class="btn btn-mini" data-rel="tooltip" data-original-title="Percentage in relation to total pageviews"><i class="glyphicon glyphicon-info-sign"></i></a></th>
                    </tr>
                  </thead>
                  <tbody>
                  <tr v-for="resource in sortedPageViews" class="stats-row" v-if="resource.visible">
                    <td class="stats-title" @click.prevent="toggleNode(pageViews.pageSet, resource.id)">
                      <span :style="{ paddingLeft: `${resource.indentLevel * indentPixels}px` }">
                        <span v-if="resource.children.length && resource.expanded" class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                        <span v-if="resource.children.length && !resource.expanded" class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
                        {{ resource.title }}
                      </span>
                    </td>
                    <td class="stats-title">{{ resource.contentType }}</td>
                    <td class="stats-title"><a :href="`/${courseId}/course_page/${resource.id}/`" class="btn btn-small btn-primary">View</a></td>
                    <td v-for="(week, i) in numWeeks">{{ resource.weeks[i] }}</td>
                    <td class="stats-title">{{ resource.total }}</td>
                    <td>{{ resource.percent }}</td>
                  </tr>
                  <tr class="stats-row">
                    <th>Totals</th>
                    <th colspan="2">&nbsp;</th>
                    <td v-for="week in numWeeks">{{ pageViews.totalsByWeek[week - 1] }}</td>
                    <td>{{ pageViews.totalsByWeek[numWeeks] }}</td>
                    <td>&nbsp;</td>
                  </tr>
                  </tbody>
                </table>
              {% endverbatim %}
            </div>
            <div class="tab-pane fade" id="unique-students">
              Number of unique students who viewed each content item.
              {% verbatim %}
                <p>
                  <a href="#" @click.prevent="expandAll(students.pageSet)">Expand All</a> |
                  <a href="#" @click.prevent="collapseAll(students.pageSet)">Collapse All</a>
                </p>
                <table id="studentsTable" class="table table-striped table-bordered heat-map">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Type</th>
                      <th>View</th>

                      <th v-for="week in numWeeks">Week {{ week }}</th>

                      <th>Total</th>
                      <th>%<a href="#" class="btn btn-mini" data-rel="tooltip" data-original-title="Percentage in relation to total pageviews"><i class="glyphicon glyphicon-info-sign"></i></a></th>
                    </tr>
                  </thead>
                  <tbody>
                  <tr v-for="resource in sortedStudents" class="stats-row" v-if="resource.visible">
                    <td class="stats-title" @click.prevent="toggleNode(students.pageSet, resource.id)">
                      <span :style="{ paddingLeft: `${resource.indentLevel * indentPixels}px` }">
                        <span v-if="resource.children.length && resource.expanded" class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                        <span v-if="resource.children.length && !resource.expanded" class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
                        {{ resource.title }}
                      </span>
                    </td>
                    <td class="stats-title">{{ resource.contentType }}</td>
                    <td class="stats-title"><a :href="`/${courseId}/course_page/${resource.id}/`" class="btn btn-small btn-primary">View</a></td>
                    <td v-for="(week, i) in numWeeks">{{ resource.weeks[i] }}</td>
                    <td class="stats-title">{{ resource.total }}</td>
                    <td>{{ resource.percent }}</td>
                  </tr>
                  <tr class="stats-row">
                    <th>Totals</th>
                    <th colspan="2">&nbsp;</th>
                    <td v-for="week in numWeeks">{{ students.totalsByWeek[week - 1] }}</td>
                    <td>{{ students.totalsByWeek[numWeeks] }}</td>
                    <td>&nbsp;</td>
                  </tr>
                  </tbody>
                </table>
              {% endverbatim %}
            </div>
            <div class="tab-pane fade" id="events">
              {% if repeating_events %}
                <div class="row">
                  <div class="col-md-2">
                    <div class="form-group">
                      <label class="sr-only" for="eventfilter">Select event</label>

                      <select class="form-control" id="eventfilter" name="eventfilter" v-model="eventId">
                        {% for event in repeating_events %}
                          <option value="{{ event.id}}" >{{ event.title}} ({{ event.get_day_of_week_display }})</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                </div>
                <p>
                  <strong>Note: </strong>
                  Blue indicates the content was viewed before the selected event, and Red after the event. The size of the circle is
                  related to the number of views. Bigger circles indicate higher number of views.
                </p>
              {% else %}
                <p>
                  To view the data on this tab, please <a href="{% url 'dashboard:add_course_repeating_event' course_id=request.course_offering.id %}">add at least one repeating event</a>.
                </p>
              {% endif %}
              {% verbatim %}
                <p>
                  <a href="#" @click.prevent="expandAll(events)">Expand All</a> |
                  <a href="#" @click.prevent="collapseAll(events)">Collapse All</a>
                </p>
                <table id="eventsTable" class="table table-striped table-bordered heat-map">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Type</th>
                      <th>View</th>
                      <th v-for="week in numWeeks">Week {{ week }}</th>
                    </tr>
                  </thead>
                  <tbody>
                  <tr v-for="resource in sortedEvents" class="stats-row" v-show="resource.visible">
                    <td class="stats-title" @click.prevent="toggleNode(events, resource.id)">
                      <span :style="{ paddingLeft: `${resource.indentLevel * indentPixels}px` }">
                        <span v-if="resource.children.length && resource.expanded" class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                        <span v-if="resource.children.length && !resource.expanded" class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
                        {{ resource.title }}
                      </span>
                    </td>
                    <td class="stats-title">{{ resource.contentType }}</td>
                    <td class="stats-title"><a :href="`/${courseId}/course_page/${resource.id}/`" class="btn btn-small btn-primary">View</a></td>
                    <td v-for="(week, i) in numWeeks" :ref="`pie_${resource.id}`"></td>
                  </tr>
                  </tbody>
                </table>
              {% endverbatim %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

{% block javascript %}
  <script>
    window.pages.contentList.init(JSON.parse('{{ initial_data | escapejs }}'));
  </script>
{% endblock javascript %}
