{% extends 'base.html' %}

{% block page_id %}course-dashboard{% endblock page_id %}

{% block content %}
  <!--<p v-tooltip:top="'My tooltip title'">Sample tooltip</p>-->

  <p>
    <form id="weekselector" method="get">
      Course Weekly Dashboard: Week {{ week_no }} ({{ weekbeg }} - {{weekend}})
      <input type="hidden" name="course_id" value={{ course.id }} />
      <div style="float: right;">
        <select id="weekfilter" name="week_filter">
          <option value="-1"> View All</option>
          {% for i in course_weeks %}
            <option value="{{i}}" {% if week_id == i %} selected {% endif %}>Week {{ forloop.counter }}</option>
          {% endfor %}
        </select>
        <button type="submit" class="btn btn-small btn-primary">Change Week</button>
      </div>
    </form>
  </p>

  <div class="row-fluid">
    <div class="col-md-8">
    <div class="panel panel-default ">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="halflings-icon list-alt"></i><span class="break"></span>Pageviews</h3>
      </div>
      <div class="panel-body">
        <div id="graph_container" style="height: 282px;"></div>
      </div>
    </div>
    </div>
    <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="halflings-icon align-justify"></i><span class="break"></span>Week Metrics</h3>
      </div>
      <div class="panel-body">
        <div class="widget green">
          <ul class="unstyled">
            <li><span id="uniquepageviewsbydayinweek"></span>
                Unique Pageviews <a href="#" class="btn btn-mini" data-rel="tooltip" data-original-title="Number of unique page views in the course"><i class="halflings-icon info-sign"></i></a>
                <!--<span class="number">781</span>-->
            </li>
            <li><span id="participantsbydayinweek"></span>
                Students <a href="#" class="btn btn-mini" data-rel="tooltip" data-original-title="Number of active students"><i class="halflings-icon info-sign"></i></a>
                <!--<span class="number">2,19</span>-->
            </li>
            <li><span id="sessionsbydayinweek"></span>
                Sessions <a href="#" class="btn btn-mini" data-rel="tooltip" data-original-title="“Number of student sessions. A session is defined by student clicks where the time between clicks is less than 40 minutes."><i class="halflings-icon info-sign"></i></a>
            </li>
            <li><span id="averagesessionlengthbydayinweek"></span>
                Avg. Session Duration (in mins) <a href="#" class="btn btn-mini" data-rel="tooltip" data-original-title="Average duration in minutes of a student session"><i class="halflings-icon info-sign"></i></a>
            </li>
            <li><span id="averagepagespersessionbydayinweek"></span>
                Avg. Pageviews Per Session <a href="#" class="btn btn-mini" data-rel="tooltip" data-original-title="Average number of pages a student has viewed in a session"><i class="halflings-icon info-sign"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div><!--/span-->
  </div>
</div>

  <div class="row-fluid">
    <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="halflings-icon align-justify"></i><span class="break"></span>Student Pageviews Histogram</h3> <a href="#" class="btn btn-mini" data-rel="tooltip" data-original-title="Number of unique students (vertical axis) who have viewed a number of pages within a range  (horizontal axis) that week"><i class="halflings-icon info-sign"></i></a>
      </div>
      <div class="panel-body">
        <div id="userhistogram" style="height: 500px"></div>
      </div>
    </div><!--/span-->
    </div>

    <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="halflings-icon align-justify"></i><span class="break"></span>Top Accessed Content</h3>
      </div>
      <div class="panel-body">
        <table class="table">
          <thead>
            <tr>
              <th>Page</th>
              <th>Type</th>
              <th>Student Visits</th>
              <th>Pageviews</th>
            </tr>
          </thead>
          <tbody>
            {{ topcontent_table|safe }}
          </tbody>
         </table>
      </div>
    </div><!--/span-->
    </div>
  </div><!--/row-->

  <div class="row-fluid">
    <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="halflings-icon align-justify"></i><span class="break"></span>Communication Access</h3>
      </div>
      <div class="panel-body">
        <table class="table">
          <thead>
            <tr>
              <th>Title</th>
              <th>Type</th>
              <th>Unique Students</th>
              <th>Pageviews</th>
              <th>Posts</th>
            </tr>
          </thead>
          <tbody>
            {{ topforumcontent_table|safe }}
          </tbody>
         </table>
      </div>
    </div><!--/span-->
    </div>

    <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="halflings-icon align-justify"></i><span class="break"></span>Top Course Visitors</h3>
      </div>
      <div class="panel-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Firstname</th>
              <th>Surname</th>
              <th>Role</th>
              <th>Pageviews</th>
            </tr>
          </thead>
          <tbody>
            {% verbatim %}
              <tr v-for="user in topUsers">
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.role }}</td>
                <td>0</td>
              </tr>
            {% endverbatim %}
          </tbody>
         </table>
      </div>
    </div><!--/span-->
    </div>
  </div><!--/row-->

  <div class="row-fluid">
    <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="halflings-icon align-justify"></i><span class="break"></span>Assessment Access</h3>
      </div>
      <div class="panel-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Title</th>
              <th>Type</th>
              <th>Unique Students</th>
              <!--<th>Pageviews</th>-->
              <th>Attempts</th>
              <th>Average Student Score</th>
            </tr>
          </thead>
          <tbody>
            {{ topquizcontent_table|safe }}
          </tbody>
         </table>
      </div>
    </div><!--/span-->
    </div>
  </div><!--/row-->

{% endblock content %}

{% block javascript %}
  <script>
      window.pages.dashboard.init({{ course.id }});
  </script>
{% endblock javascript %}
