{% extends 'base.html' %}

{% block page_id %}course-page{% endblock page_id %}

{% block content %}

  <div class="row">
    <div class="col-sm-12">
      <ol class="breadcrumb">
        <li><a href="{% url 'dashboard:course_list' %}"><i class="icon-home"></i>My Courses</a></li>
        <li><a href="{% url 'dashboard:course_dashboard' course_id=request.course_offering.id %}">Course: {{ request.course_offering.code }} - {{ request.course_offering.title }}</a></li>
        <li class="active">Content</li>
      </ol>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      Title: {{ course_page.title }}<br>
      Type: {{ course_page.content_type }}
    </div>
  </div>

{% endblock content %}
