{% extends 'base.html' %}

{% block page_id %}course-dashboard{% endblock page_id %}

{% block content %}
  <!--<p v-tooltip:top="'My tooltip title'">Sample tooltip</p>-->

  <div class="row">
    <div class="col-md-12">
      {% include "dashboard/_course_offering_breadcrumbs.html" with course_offering=request.course_offering title="Dashboard" %}
    </div>
  </div>

  {% verbatim %}
    <div class="row">
      <div class="col-md-10">
        <h2 v-if="weekNum >= 1">Course Weekly Dashboard: Week {{ weekNum }} ({{ weekStart }} - {{ weekEnd }})</h2>
        <h2 v-else>Overall Course Dashboard</h2>
      </div>
      <div class="col-md-2 text-right">
        <form>
          <select v-model="weekNum">
            <option :value="0">View All</option>
            <option v-for="i in numWeeks" :value="i">Week {{ i }}</option>
          </select>
        </form>
      </div>
    </div>
  {% endverbatim %}

  <div v-if="weekNum == 0" class="row">
    <div class="col-md-12">
      {% include "dashboard/panels/_overall_graph.html" %}
    </div>
  </div>

  <div v-if="weekNum >= 1" class="row">
    <div class="col-md-8">
      {% include "dashboard/panels/_per_week_graph.html" %}
    </div>
    <div class="col-md-4">
      {% include "dashboard/panels/_week_metrics.html" %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      {% include "dashboard/panels/_histogram.html" %}
    </div>

    <div class="col-md-6">
      {% include "dashboard/panels/_top_content.html" %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      {% include "dashboard/panels/_top_communication.html" %}
    </div>

    <div class="col-md-6">
      {% include "dashboard/panels/_top_visitors.html" %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      {% include "dashboard/panels/_top_assessment.html" %}
    </div>
  </div>

{% endblock content %}

{% block javascript %}
  <script>
      window.pages.dashboard.init(JSON.parse('{{ initial_data | escapejs }}'));
  </script>
{% endblock javascript %}
