{% extends 'base.html' %}

{% block page_id %}student-page{% endblock page_id %}

{% block content %}
  <div class="row">
    <div class="col-md-12">
      {% include "dashboard/_course_offering_breadcrumbs.html" with course_offering=request.course_offering title="Student" %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <tr>
          <td><strong>Course Member:</strong></td>
          <td>{{ student.full_name }}</td>
        </tr>
        <tr>
          <td><strong>Email:</strong></td>
          <td>{{ student.email }}</td>
        </tr>
        <tr>
          <td><strong>Role:</strong></td>
          <td>{{ student.role }}</td>
        </tr>
        <tr>
          <td><strong>User ID:</strong></td>
          <td>{{ student.lms_user_id }}</td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default ">
          <div class="panel-heading">
            <h3 class="panel-title">
              <i class="glyphicon glyphicon-align-justify glyphicon-fw"></i>Pageviews
            </h3>
          </div>
          <div class="panel-body">
            <range-graph graph-id="student_pageviews_chart" :student-id="studentId" :course-id="courseId" :course-start="courseStart" :num-weeks="numWeeks"></range-graph>
          </div>
        </div>
      </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <i class="glyphicon glyphicon-align-justify glyphicon-fw"></i>Course Communication
          </h3>
        </div>
        <div class="panel-body">
          <table class="table ">
            <thead>
              <tr>
                <th class="text-center">Title</th>
                <th class="text-center">Type</th>
                <th class="text-center">Pageviews</th>
                <th class="text-center">Posts</th>
              </tr>
            </thead>
            <tbody>
              {% verbatim %}
                <tr v-for="communication in communications">
                  <td>
                    <a :href="`/${courseId}/course_page/${communication.id}/`"> {{ communication.title }}</a>
                  </td>
                  <td>{{ communication.content_type }}</td>
                  <td class="text-right">{{ communication.user_views }}</td>
                  <td class="text-right">{{ communication.posts }}</td>
                </tr>
              {% endverbatim %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <i class="glyphicon glyphicon-align-justify glyphicon-fw"></i>Course Assessment
          </h3>
        </div>
        <div class="panel-body">
          <table class="table ">
            <thead>
              <tr>
                <th class="text-center">Title</th>
                <th class="text-center">Type</th>
                <th class="text-center">Pageviews</th>
                <th class="text-center">Attempts</th>
                <th class="text-center">Average Student Score</th>
              </tr>
            </thead>
            <tbody>
              {% verbatim %}
                <tr v-for="assessment in assessments">
                  <td>
                    <a :href="`/${courseId}/course_page/${assessment.id}/`">{{ assessment.title }}</a>
                  </td>
                  <td>{{ assessment.content_type }}</td>
                  <td class="text-right">{{ assessment.user_views }}</td>
                  <td class="text-right">{{ assessment.attempts }}</td>
                  <td class="text-right">{{ assessment.average_grade }}</td>
                </tr>
              {% endverbatim %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascript %}
  <script>
      window.pages.studentPage.init(JSON.parse("{{ initial_data | escapejs }}"));
  </script>
{% endblock javascript %}
