{% verbatim %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="#" class="pull-right" data-rel="tooltip" data-original-title="Number of unique students (vertical axis) who have viewed a number of pages within a range  (horizontal axis) that week"><i class="glyphicon glyphicon-info-sign glyphicon-fw"></i></a>
      <h3 class="panel-title"><i class="glyphicon glyphicon-align-justify glyphicon-fw"></i>Student Pageviews Histogram</h3>
    </div>
    <div class="panel-body">
       <histogram-graph graph-id="course_histogram" :course-id="courseId" :num-bins="histogramNumBins" :week-num="weekNum"></histogram-graph>
    </div>
  </div>
{% endverbatim %}
