{% verbatim %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><i class="halflings-icon align-justify"></i><span class="break"></span>Student Pageviews Histogram</h3>
      <a href="#" class="btn btn-mini" data-rel="tooltip" data-original-title="Number of unique students (vertical axis) who have viewed a number of pages within a range  (horizontal axis) that week"><i class="halflings-icon info-sign"></i></a>
    </div>
    <div class="panel-body">
      <div id="userhistogram" style="height: 500px"></div>
    </div>
  </div>
{% endverbatim %}
