{% verbatim %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><i class="halflings-icon align-justify"></i><span class="break"></span>Assessment Access</h3>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="text-center">Title</th>
            <th class="text-center">Type</th>
            <th class="text-center">Unique Students</th>
            <th class="text-center">Attempts</th>
            <th class="text-center">Average Student Score</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="page in topQuizContent">
            <td><a :href="'/coursepage?page_id=' + page.page_id + '&course_id=' + courseId">{{ page.title }}</a></td>
            <td>{{ page.module }}</td>
            <td class="text-right">{{ page.user_views }}</td>
            <td class="text-right">{{ page.attempts }}</td>
            <td class="text-right">{{ page.average_score }}</td>
          </tr>
        </tbody>
       </table>
    </div>
  </div>
{% endverbatim %}
