{% verbatim %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><i class="halflings-icon align-justify"></i><span class="break"></span>Assessment Access</h3>
    </div>
    <div class="panel-body">
      <table class="table">
        <thead>
          <tr>
            <th class="text-center">Page</th>
            <th class="text-center">Type</th>
            <th class="text-center">Unique Students</th>
            <th class="text-center">Attempts</th>
            <th class="text-center">Average Student Score</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="page in topAssessments">
            <td><a :href="`/${courseId}/course_page/${page.id}/`">{{ page.title }}</a></td>
            <td>{{ page.contentType }}</td>
            <td class="text-right">{{ page.userviews }}</td>
            <td class="text-right">{{ page.attempts }}</td>
            <td class="text-right">{{ page.averageScore }}</td>
          </tr>
        </tbody>
       </table>
    </div>
  </div>
{% endverbatim %}
