{% verbatim %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><i class="halflings-icon align-justify"></i><span class="break"></span>Top Course Visitors</h3>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="text-center">Firstname</th>
            <th class="text-center">Surname</th>
            <th class="text-center">Role</th>
            <th class="text-center">Pageviews</th>
          </tr>
        </thead>
        <tbody>
            <tr v-for="user in topUsers">
              <td><a :href="`/${courseId}/student/${user.id}/`">{{ user.firstname }}</a></td>
              <td>{{ user.lastname }}</td>
              <td>{{ user.role }}</td>
              <td class="text-right">{{ user.pageviews }}</td>
            </tr>
        </tbody>
       </table>
    </div>
  </div>
{% endverbatim %}
