{% verbatim %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><i class="glyphicon glyphicon-align-justify glyphicon-fw"></i>Communication Access</h3>
    </div>
    <div class="panel-body">
      <table class="table">
        <thead>
          <tr>
            <th class="text-center">Page</th>
            <th class="text-center">Type</th>
            <th class="text-center">Unique Students</th>
            <th class="text-center">Pageviews</th>
            <th class="text-center">Posts</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="page in topCommunications">
            <td><a :href="`/${courseId}/course_page/${page.id}/`">{{ page.title }}</a></td>
            <td>{{ page.contentType }}</td>
            <td class="text-right">{{ page.userviews }}</td>
            <td class="text-right">{{ page.pageviews }}</td>
            <td class="text-right">{{ page.posts }}</td>
          </tr>
        </tbody>
       </table>
    </div>
  </div>
{% endverbatim %}
