{% verbatim %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><i class="halflings-icon align-justify"></i><span class="break"></span>Week Metrics</h3>
    </div>
    <div class="panel-body">
      <div class="widget green">
        <ul class="unstyled">
          <li><span id="uniquepageviewsbydayinweek"></span>
              Unique Pageviews <a href="#" class="btn btn-mini" data-rel="tooltip" data-original-title="Number of unique page views in the course"><i class="halflings-icon info-sign"></i></a>
              <!--<span class="number">781</span>-->
          </li>
          <li><span id="participantsbydayinweek"></span>
              Students <a href="#" class="btn btn-mini" data-rel="tooltip" data-original-title="Number of active students"><i class="halflings-icon info-sign"></i></a>
              <!--<span class="number">2,19</span>-->
          </li>
          <li><span id="sessionsbydayinweek"></span>
              Sessions <a href="#" class="btn btn-mini" data-rel="tooltip" data-original-title="“Number of student sessions. A session is defined by student clicks where the time between clicks is less than 40 minutes."><i class="halflings-icon info-sign"></i></a>
          </li>
          <li><span id="averagesessionlengthbydayinweek"></span>
              Avg. Session Duration (in mins) <a href="#" class="btn btn-mini" data-rel="tooltip" data-original-title="Average duration in minutes of a student session"><i class="halflings-icon info-sign"></i></a>
          </li>
          <li><span id="averagepagespersessionbydayinweek"></span>
              Avg. Pageviews Per Session <a href="#" class="btn btn-mini" data-rel="tooltip" data-original-title="Average number of pages a student has viewed in a session"><i class="halflings-icon info-sign"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
{% endverbatim %}
