-e git+git@gitlab.internal.alliancesoftware.com.au:alliance/alliance-django-utils.git@ba2dcdf41f03103f19d228660d726e0ff89d04d3#egg=allianceutils
Django==1.11.4
django-authtools==1.6.0
django-compat==1.0.14
django-extensions==1.9.0
django-hijack==2.1.4
django-stronghold==0.2.9
django-webpack-loader==0.5.0
djangorestframework==3.6.4
lxml==3.8.0
mysqlclient==1.3.10
numpy==1.13.1
pandas==0.20.3
python-dateutil==2.6.1
python-docx==0.8.6
pytz
rules==1.2.1
six==1.10.0
Unipath==1.1
whitenoise==3.3.0
